<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='articles'">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Newsfeed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="../../assets/css/business-casual.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="../../assets/css/global.css"/>
</head>
<body>
<a style="background-color: #2F170F; float:right; padding: 1em; position: fixed;  top:0;
   right:0;" th:href="@{/login}">
    <i class="material-icons" style="color: white">
        exit_to_app
    </i>
</a>
<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Hello, <span th:text="${username}"></span> </span>
    <span class="site-heading-lower">Read what matters</span>
</h1>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Newsfeed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" th:href="@{/article/home}">Home</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" th:href="@{/article/all}">All Articles
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" th:href="@{/article/my}">Articles you added</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" th:href="@{/article/new}">Add article</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--<a th:href="@{/logout}" class="signout2 btn btn-light">Logout</a>-->
<div class="wrapper">
    <div id="no-articles" class="alert alert-warning" role="alert"
         th:if="${articlePage.totalElements eq 0 and userArticles.totalElements eq 0 }"><span>No articles to show
    </span></div>
    <div id="deletedArticles" class="alert alert-warning" role="alert" th:if="${numDeleted != null}"
         th:text="${numDeleted}"></div>
    <div id="votes" class="alert alert-warning" role="alert" th:if="${voteMsg != null}" th:text="${voteMsg}"></div>
    <div id="voteError" class="alert alert-warning" role="alert" th:if="${voteError != null}"
         th:text="${voteError}"></div>
    <!-- All articles-->
    <div class="container" style="background-color: whitesmoke;">
        <br/><br/> <br/><br/>
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <div th:if="${userArticles.totalElements eq 0}">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower">All articles</span>
                        </h2><br/>

                            <form method="POST" th:action="@{/article/search}"
                                  style="display: inline-block;"
                                  th:object="${searchForm}">
                                <div class="input-group">
                                <span class="input-group-btn">
                                <button class="btn" type="submit"><i class="material-icons"
                                                                     style="color: #df902a;">search</i>
                                </button>
                                </span>
                                    <input type="text" class="form-control" th:field="*{articleName}"
                                           placeholder="Search by title..."/>
                                </div>

                            </form>

                        <br/><br/>
                        <div th:each="article : ${articlePage.content}">
                            <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                <li class="list-unstyled-item list-hours-item d-flex">
                                    <div style="width: 5em">
                                        <a th:if="${userArticles.totalElements eq 0 }"
                                           th:href="@{/article/vote(id=${article.articleId}, vote= 'NEGATIVE', page=${articlePage.number})}"
                                           style="font-weight: bold;"><i class="material-icons"
                                                                         style="color: rgba(47, 23, 15, 0.9);">keyboard_arrow_up</i></a>
                                        &nbsp;<span th:text="${article.votes}"></span>
                                        <a th:if="${userArticles.totalElements eq 0}"
                                           th:href="@{/article/vote(id=${article.articleId}, vote= 'POSITIVE', page=${articlePage.number})}"
                                           style="font-weight: bold;"><i class="material-icons"
                                                                         style="color: rgba(47, 23, 15, 0.9);">keyboard_arrow_down</i></a>
                                    </div>&nbsp;&nbsp;
                                    <div style="width: 950px;">
                                        <a style="color: df902a;" th:text="${article.articleName} "
                                           th:href="${article.link}"></a><br/>
                                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <div style="width: 210px;">
                                        <span th:text="${article.author} "></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="pages1" style="display: inline-block" th:if="${userArticles.totalElements eq 0}">
                        <ul class="pagination" th:if="${articlePage.totalPages gt 1}">
                            <li class="page-item" th:if="${articlePage.hasPrevious()}">
                                <a style="color: #df902a;"
                                   th:href="@{/article/my(page=${articlePage.number - 1}, sortBy=${sortBy})}"
                                   class="page-link">Prev</a>
                            </li>
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(0,articlePage.totalPages - 1)}">
                                <a style="color: #df902a;"
                                   th:href="@{/article/my(page=${i},sortBy=${sortBy})}" th:text="${i + 1}"
                                   class="page-link"></a>
                            </li>
                            <li class="page-item" th:if="${articlePage.hasNext()}">
                                <a style="color: #df902a;"
                                   th:href="@{/article/my(page=${articlePage.number + 1}, sortBy=${sortBy})}"
                                   class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                    <!--NewsfeedUser articles-->
                    <div th:if="${userArticles.totalElements gt 0}">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower">Added articles</span>
                        </h2><br/>
                        <form method="POST" th:action="@{/article/delete/(page=${userArticles.number})}"
                              th:object="${article}">
                            <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton2"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"
                                    style="color: whitesmoke; background-color: #df902a;">
                                Sort by:
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <a class="dropdown-item" th:href="@{/article/all(sortBy='articleName')}">Headline</a>
                                <a class="dropdown-item" th:href="@{/article/all(sortBy='author')}">Author</a>
                                <a class="dropdown-item" th:href="@{/article/all(sortBy='votes')}">Votes</a>
                            </div>
                            <button id="btn" class="btn btn-primary" type="submit" disabled="disabled"
                                    style="background-color: #df902a; padding-left: 10px;">Delete
                            </button>
                            <br/><br/>
                            <div th:each="article : ${userArticles.content}" style="font-family: 'Raleway'">
                                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        <div style="width: 50px;">
                                            <span th:text="${article.votes} "></span>
                                        </div>&nbsp;&nbsp;
                                        <div style="width: 950px;">
                                            <a class="articleLink" th:text="${article.articleName} "
                                               style="color: #df902a;"
                                               th:href="${article.link}"></a>
                                        </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <div style="width: 210px;">
                                            <span th:text="${article.author} "></span>
                                        </div>
                                        &nbsp;&nbsp;&nbsp;
                                        <div style="width: 50px;" class="form-check">
                                            <input class="form-check-input" type="checkbox" th:name="idChecked"
                                                   th:value="${article.articleId}"
                                                   onclick="change_button(this,'btn')"/>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                        <script type="text/javascript">
                            function change_button(checkbx, button_id) {
                                var btn = document.getElementById(button_id);
                                if (checkbx.checked == true) {
                                    btn.disabled = "";
                                } else {
                                    btn.disabled = "disabled";
                                }
                            }
                        </script>
                    </div>

                    <div id="pages2" th:if="${userArticles.totalElements gt 0}">
                        <ul class="pagination" th:if="${userArticles.totalPages gt 1}">
                            <li class="page-item" th:if="${userArticles.hasPrevious()}">
                                <a style="color: #df902a;"
                                   th:href="@{/article/my(page=${userArticles.number - 1}, sortBy=${sortBy})}"
                                   class="page-link">Prev</a>
                            </li>
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(0,userArticles.totalPages - 1)}">
                                <a style="color: #df902a;"
                                   th:href="@{/article/my(page=${i},sortBy=${sortBy})}" th:text="${i + 1}"
                                   class="page-link"></a>
                            </li>
                            <li class="page-item" th:if="${userArticles.hasNext()}">
                                <a style="color: #df902a;"
                                   th:href="@{/article/my(page=${userArticles.number + 1}, sortBy=${sortBy})}"
                                   class="page-link">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">JB &copy; 2018</p>
    </div>
</footer>
</body>
</html>