<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="currentPage='articles'">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Newsfeed</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="../../assets/css/business-casual.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" href="../../assets/css/global.css"/>
</head>
<body>
<a style="background-color: #2F170F; float:right; padding: 1em; position: fixed;  top:0;
   right:0;" th:href="@{/login}">
    <i class="material-icons" style="color: white">
        exit_to_app
    </i>
</a>
<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Hello, <span th:text="${username}"></span> </span>
    <span class="site-heading-lower">Read what matters</span>
</h1>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
    <div class="container">
        <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Newsfeed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" th:href="@{/article/home}">Home<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" th:href="@{/article/all}">All Articles</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" th:href="@{/article/my}">Articles you added</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" th:href="@{/article/new}">Add article</a>
                </li>
                <li class="nav-item px-lg-4">
                    <a class="nav-link text-uppercase text-expanded" th:href="@{/article/home}">Home</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <!--            <div class="product-item-articleName d-flex">
                            <div class="bg-faded p-5 d-flex mr-auto rounded">
                                <h2 class="section-heading mb-0">
                                    <span class="section-heading-lower">HOT stories</span>
                                </h2>
                            </div>
                        </div>-->
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0"
                 src="../../assets/img/top-stories.jpg" alt=""/>
            <div class="product-item-description d-flex">
                <div class="bg-faded p-5 rounded">
                    <ul class="list-group list-group-flush" th:each="article : ${topArticles.content}">
                        <li class="list-group-item">
                            <a class="articleLink" th:text="${article.articleName} "
                               style="color: #df902a;"
                               th:href="${article.link}"></a>, by
                            <span th:text="${article.author} "></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer text-faded text-center py-5">
    <div class="container">
        <p class="m-0 small">JB &copy; 2018</p>
    </div>
</footer>
</body>
</html>